# build folder
*.build/

# dart tool folder
*.dart_tool/

# flutter plugins config
.flutter-plugins
.flutter-plugins-dependencies

# packages
.packages

# application build folder
build/

# native config folder of android
.idea/